[color]
	ui = auto
[user]
	name = Mark Harrison
	email = mark@mivok.net
	signingkey = mark@mivok.net
[alias]
	st = status
	co = checkout
	ci = commit
	unstage = reset HEAD
	me = log --author="mark" --after=yesterday --no-merges --format=%s --reverse
	cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
	track = "!git branch --set-upstream-to=origin/$(git symbolic-ref --short HEAD)"
	up = pull --rebase --autostash
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
[diff "gpg"]
	binary = true
	textconv = gpg2 -d --quiet --yes --compress-algo=none --batch --use-agent
[includeIf "gitdir:~/git/work/"]
	path = .gitconfig_work
[commit]
	template = /Users/mark.harrison/.gitmessage
[diff]
	wsErrorHighlight = all
