[color]
	ui = auto
[user]
	name = Mark Harrison
	email = mark@mivok.net
	signingkey = mark@mivok.net
[alias]
	st = status
	ci = commit
	unstage = reset HEAD
	me = log --author="mark" --after=yesterday --no-merges --format=%s --reverse
	cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
	track = "!git branch --set-upstream-to=origin/$(git symbolic-ref --short HEAD)"
	up = pull --rebase --autostash
	# From https://github.com/not-an-aardvark/git-delete-squashed
	delete-squashed = "!git checkout -q master && git for-each-ref refs/heads/ '--format=%(refname:short)' | while read branch; do mergeBase=$(git merge-base master $branch) && [[ $(git cherry master $(git commit-tree $(git rev-parse $branch\\^{tree}) -p $mergeBase -m _)) == '-'* ]] && git branch -D $branch; done"
	deploy-tag = "!git tag deploy/${1:-prod}/$(git rev-parse --short HEAD) && git --no-pager tag -l deploy/${1:-prod}/$(git rev-parse --short HEAD) #"

[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
[diff "gpg"]
	binary = true
	textconv = gpg2 -d --quiet --yes --compress-algo=none --batch --use-agent
[includeIf "gitdir:~/git/work/"]
	path = .gitconfig_work
[commit]
	template = ~/.gitmessage
[diff]
	wsErrorHighlight = all
#[url "git@github.com:"]
#	insteadOf = https://github.com/
[pull]
	rebase = true
[rebase]
	autoStash = true
[init]
	defaultBranch = main
